.card {
  width: 200px;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .image {
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 200px;
    border-radius: 4px;
  }

  .row {

    .price {
      font-weight: bold;
    }

    display: flex;
    justify-content: space-between;
    width: 200px;
    align-items: center;
    padding: 10px 10px 0 10px;
    margin:0;

  }

  .brand {
    width: 200px;
    text-align: left;
    padding: 0px 10px 0 10px;
    height: 10px;
    font-size: 14px;
    margin: -4px 0 0 0;
    color: #666;
  }
}