<form [formGroup]="itemForm" (ngSubmit)="createItem()">
  <h1>Add Item</h1>

  <input #uploader type="file" accept="image/png,image/jpg,application/pdf" (change)="handleUpload($event)" multiple
    id="uploadFile">
  @for (file of files; track file) {

  {{file | json}}

  @if (file.data) {
  <div class="item-image">
    <img [src]="file.data" alt="">
  </div>
  }

  }
  <label for="">Name</label>
  <input type="text" [formControl]="itemForm.controls['name']" [ngModel]>
  <label for="">Descrition</label>
  <input type="text" [formControl]="itemForm.controls['description']" [ngModel]>

  <label for="">Categories</label>
  <select [formControl]="itemForm.controls['category_id']" [ngModel]>
    @for (category of categories; track category.ID) {
    <option value="{{category.ID}}">{{category.name}} {{category.ID}}</option>
    }
  </select>
  <label for="">Categories</label>
  <select [formControl]="itemForm.controls['brand_id']" [ngModel]>
    @for (brand of brands; track brand.id) {
    <option value="{{brand.ID}}">{{brand.name}} {{brand.ID}}</option>
    }

  </select>
  <input type="submit" name="" id="" value="Save">
</form>

<button (click)="postImage()">Upload</button>