header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  height: 90px;

  h1 {
    font-size: 22px;
    cursor: pointer;
  }

  .search {
    margin: 0 40px;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 4px;

    input {
      width: 300px;
      padding: 0px 20px;
      background-color: whitesmoke;
      border: 0px solid #ccc;
      border-radius: 2px;
      border-radius: 20px;
      margin: 0;

      ;
    }
  }

  .spacer {
    flex: 1;
  }

  .btn {
    background-color: var(--main-color);
    color: white;
    font-size: 12px;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 2px;
  }
}


@media screen and (max-width: 600px) {
  header {

    width: 100vw;
    padding: 0 20px;

    .search {
      display: none;
    }
  }
}