/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

@property --main-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #D410AA;
}

@property --accent-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #A90686
}

input {
  width: 360px;
  padding: 10px 20px;
  border: 1px solid #ddd;
  border-radius: 2px;
  margin: 5px 0 20px 0;
  outline: none;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 500;
}

label {
  color: #444;
}

input[type="submit"] {
  background-color: var(--main-color);
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 500;
  text-transform: uppercase;
  width: 360px;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 auto 40px;
  width: 360px;

  h1 {
    margin: 30px 0;
  }
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v142/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

button {
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  color: white;
  font-size: 12px;
  padding: 12px 24px;
  cursor: pointer;
  border-radius: 2px;
}